<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('Zurich - Game of Life'))->setSeparator(' - ')->setAutoEscape(false) ?>
		<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
        <?php /* echo $this->headTitle('ZF2 '. $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') */ ?>
        
        <!-- Styles -->                
        <?php echo $this->headLink(array(
        		'rel' => 'shortcut icon', 
        		'type' => 'image/vnd.microsoft.icon', 
        		'href' => $this->basePath() . '/img/favicon_ico.ico'))
        		
        		->prependStylesheet($this->basePath() . '/resources/stylesheets/main.css');
        ?>
		
		
        <!-- Scripts -->
        <?php 
        echo $this->headScript()
        ->prependFile($this->basePath() . '/resources/js/swfobject/swfobject.js')
        ->prependFile($this->basePath() . '/resources/js/app.js');
        ?>
        <?php /* echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                      ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                                      ->prependFile($this->basePath() . '/js/jquery.min.js') 
                                      */ ?>

<script>


var _gaq = _gaq || [];

  _gaq.push(['_setAccount', 'UA-30289419-2']);//THIS ONE IS FOR PRODUCTION
  //_gaq.push(['_setAccount', 'UA-45415987-1']);//THIS ONE IS FOR STAGING
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackEvent']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
  
  
function sendTracking(evt, eventString, moreInfo)
{
	_gaq.push(['_trackEvent', evt, eventString, moreInfo]);
}


</script>


    </head>
    <body>
    	<div class="main_Container">
    		<div class="game_body">
            	<?php echo $this->content; ?>
    		</div>
        </div>
    </body>
</html>
