html,body
{
	margin:0;
	border:0;
	padding:0;
	height:100%;
	
 	/*background-color:#2a3776; */
}


.main_Container, .game_body, .game_holder
{
	position:relative;
}

.main_Container
{
	width:100%;
	height:100%;
}

.game_holder_container
{
	position:relative;
	width:980px;
	margin:auto;
}

.game_body
{
	max-height:750px;
	margin:auto;
}

.game_holder
{
	width:980px;
	height:750px;
}

.story h2
{
    color: #888888;
    font-family: georgia,helvetica,clean,sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height:22px;
    margin: 10px auto 10px auto;
	position:relative;
	display:block;
	text-align:center;
}

.story h2 a:hover
{
	text-decoration:none;
}

.story h2 a
{
	color: #888888;
}