<!--
<script src="<?php //echo $this->basePath() . '/resources/js/swfobject/swfobject.js'; ?>"></script>
-->

<script>
var //frameHref = "<?php //echo $this->basePath() . '/zurich'; ?>";
//var app_location = "<?php //echo ($_SERVER['SERVER_NAME']=="gol.localhost")?"local":"web"; ?>";

/*
var iframe = '<div class="contentHolder"><iframe width="980" height="800" scrolling="no"'+
'frameborder="0" src="'+frameHref+'"'+
'style="width:980px; height:800px;">'+  
'</iframe></div>';
*/

var iframe = '<div>test</div>';


window.onload = function()
{
	/*if(document.getElementById("mobileContent"))
	{
		document.getElementById("mobileContent").style.display="none";
		document.getElementById("siteContent").style.display="block";
		document.getElementById("content").innerHTML = iframe;
	}
	*/
	/*
	if(document.getElementById("mobileContent"))
	{

		document.getElementById("mobileContent")
		.style.height=document.body.clientHeight+"px";
	
	
		if (swfobject.hasFlashPlayerVersion("11.1"))
		{
		  	document.getElementById("mobileContent").style.display="none";
			document.getElementById("siteContent").style.display="block";
			document.getElementById("content").innerHTML = iframe;
		}
		else 
		{
			document.getElementById("mobileContent").style.visibility= "visible";
			document.getElementById("mobileContent").style.display="block";
			document.getElementById("siteContent").style.display="none";
		}
		
	}
	*/
}


window.onresize = function()
{
	
	
	if(document.getElementById("mobileContent"))
	{
		document.getElementById("mobileContent")
		.style.height=document.body.clientHeight+"px";
	}
	
}

</script>


<style>
/*
#mainFlashContent
{

}

.contentHolder
{
	width:980px;
	height:800px;
	display:block;
	clear:both;
	margin:auto;
	position:relative;
}

#siteContent
{
    display:none;
}

#mobileContent
{
	position:relative;
	width:100%;
    visibility:hidden;
    display:none;
}

.over
{
	position:relative;
	background-color:#0154a2;
	width:100%;
	height:100%;
	opacity:0.9;
	display:table;
	filter:alpha(opacity=90);
}

.mobileInfoContent
{
	position:relative;
	margin:auto;
	max-width:514px;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
	
}

.no_info_circle_msg
{
	position:relative;
	max-width:514px;
}

.mobile_link 
{
	margin:auto;
    color: #fff;
    font-family: georgia,helvetica,clean,sans-serif;
    font-size: 19px;
    font-weight: normal;
    line-height: 22px;
    text-align:center;
    width:100%;
    max-width:450px;
}

.mobile_link a:link {color:#FFFFFF; text-decoration:underline;}
.mobile_link a:visited {color:#FFFFFF;}
.mobile_link a:hover {text-decoration:none;}
.mobile_link a:active {color:#FFFFFF;}  
*/

</style>
<!--
<div id="mainFlashContent">
<div id="mobileContent" style="background-image:url(<?php echo $this->basePath() . '/resources/images/mobile/background.jpg'; ?>);">


<div class="over" id="over">
<div class="mobileInfoContent">
<img class="no_info_circle_msg" width="100%" src="<?php echo $this->basePath() . '/resources/images/mobile/no_flash_circle.png'; ?>" border="0"/>
<div class="mobile_link">Please vivit <a href="http://www.Zurich4Protection.co.uk">Zurich4Protection.co.uk</a><br />to find out more about Zurich Insurance Products.</div>
</div>
</div>
</div>
	<div id="siteContent">
	<?php
	
	/*
	$url = "http://www.ftadviser.com/wrappers/generic?navItem=/insurance/game-of-life";
	$doc = file_get_contents($url);
	echo $doc;
	*/
	?>
	</div>
</div>
-->

<style>
body
{
	margin:auto !important;
}
</style>
<?php

/*
$url = "http://www.ftadviser.com/wrappers/generic?navItem=/insurance/game-of-life";
$doc = file_get_contents($url);
echo $doc;
*/

include("simple_html_dom.php");
$html = file_get_html('http://www.ftadviser.com/wrappers/generic?navItem=/insurance/game-of-life');
//echo $html;

/*$ret = $html->find('section[id=content]');
$ret->innertext = 'foo';*/

//$html->find('section[id=content]', 0)->innertext = 'teststsssts';

echo $html->getElementById("content");//->childNodes(1)->childNodes(1)->childNodes(2)->getAttribute('id');
exit;


$fp = fopen('public/test.html', 'w');
fwrite($fp, $html);
fclose($fp);

// the content of 'data.txt' is now 123 and not 23!


include("public/test.html");


/*
$wrapper = file_get_contents("http://www.ftadviser.com/wrappers/generic?navItem=/insurance/game-of-life&ftar=true");
		
		$url = "http://www.ftadviser.com/wrappers/generic?navItem=/insurance/game-of-life&ftar=true";
		
		$url = "http://www.ftadviser.com/wrappers/generic?navItem=/insurance/game-of-life";
		
		//"http://www.ftadviser.com/wrappers/generic?navItem=/insurance/game-of-life";
		
		include "simple_html_dom.php";
		
		$html = file_get_html($url);//->plaintext;

		$html->find('section[id=content]', 0)->innertext = '<div id="game_holder" class="game_holder"></div>'
		.'<div class="story"><h2>For more information on Zurich Protection products as featured within The Game of Life, visit <a href="http://www.zurich4protection.co.uk">www.zurich4protection.co.uk</a></h2></div>';

		echo $html;
*/

//echo '<center><div class="shane" style="margin:auto !important; position:relative; text-align:left;">'.$html.'</div></center>';

	
	?>