<?php
/*
$url = $this->basePath() . '/zurich';

include("simple_html_dom.php");

$html = file_get_html('http://www.ftadviser.com/wrappers/generic?navItem=/insurance/game-of-life');

$html->find('section[id=content]', 0)->innertext = '<iframe width="980" height="800" scrolling="no"'.
'frameborder="0" src="'.$url.'"'.
'style="width:980px; height:800px;">'.  
'</iframe>';



$fp = fopen('public/test.html', 'w');
fwrite($fp, $html);
fclose($fp);

include("public/test.html");
*/

?>
<script src="/resources/js/swfobject/swfobject.js"></script>
<script>
window.onload = function()
{
	
	if(!swfobject.hasFlashPlayerVersion("11.1"))
	{
		window.location = "/mobile";
	}
	else
	{
		var iframe = '<div class="contentHolder"><iframe width="980" height="800" scrolling="no"'+
		'frameborder="0" src="/zurich"'+
		'style="width:980px; height:800px;">'+  
		'</iframe></div>';

		document.getElementById("content").innerHTML = iframe;

	}
		
		
		
}
</script>

<?php
$url = "http://www.ftadviser.com/wrappers/generic?navItem=/insurance/game-of-life";
$doc = file_get_contents($url);
echo $doc;

//$list = get_html_translation_table(HTML_ENTITIES);
//var_dump($list);


?>

<script src="/resources/js/swfobject/swfobject.js"></script>
<script>
window.onload = function()
{
	
	if(!swfobject.hasFlashPlayerVersion("11.1"))
	{
		window.location = "/mobile";
	}
	else
	{
		var iframe = '<div class="contentHolder"><iframe width="980" height="800" scrolling="no"'+
		'frameborder="0" src="/zurich"'+
		'style="width:980px; height:800px;">'+  
		'</iframe></div>';

		document.getElementById("content").innerHTML = iframe;

	}
		
		
		
}
</script>