
<script src="<?php echo $this->basePath() . '/resources/js/swfobject/swfobject.js'; ?>"></script>
<script>
var frameHref = "<?php echo $this->basePath() . '/zurich'; ?>";
//var app_location = "<?php //echo ($_SERVER['SERVER_NAME']=="gol.localhost")?"local":"web"; ?>";

var iframe = '<div>test</div>';


window.onload = function()
{
	if(document.getElementById("mobileContent"))
	{
		//document.getElementById("mobileContent")
		//.style.height=screen.height+"px";
		/*
		document.getElementById("mobileContent")
		.style.height=document.body.clientHeight+"px";
		*/
	}
	
	document.getElementById("mobileContent").innerHTML = iframe;
	/*
	if (swfobject.hasFlashPlayerVersion("11.1"))
		{
		  	document.getElementById("mobileContent").style.display="none";
			document.getElementById("siteContent").style.display="block";
			document.getElementById("content").innerHTML = iframe;
		}
		else 
		{
			document.getElementById("mobileContent").style.visibility= "visible";
			document.getElementById("mobileContent").style.display="block";
			document.getElementById("siteContent").style.display="none";
		}
		*/
}


window.onresize = function()
{
	/*

	if(document.getElementById("mobileContent"))
	{
		document.getElementById("mobileContent")
		.style.height=document.body.clientHeight+"px";
	}*/
}
</script>

<div id="mobileContent"></div>

<?php
	
	$url = "http://www.ftadviser.com/wrappers/generic?navItem=/insurance/game-of-life";
	$doc = file_get_contents($url);
	echo $doc;
	
?>