<?php

$url = $this->basePath() . '/zurich';

include("simple_html_dom.php");

$html = file_get_html('http://www.ftadviser.com/wrappers/generic?navItem=/insurance/game-of-life');

$html->find('section[id=content]', 0)->innertext = '<iframe width="980" height="800" scrolling="no"'.
'frameborder="0" src="'.$url.'"'.
'style="width:980px; height:800px;">'.  
'</iframe>';



$fp = fopen('public/test.html', 'w');
fwrite($fp, $html);
fclose($fp);

include("public/test.html");


?>
<script src="<?php echo $this->basePath() . '/resources/js/swfobject/swfobject.js'; ?>"></script>
<script>
window.onload = function()
{
	
	if(!swfobject.hasFlashPlayerVersion("11.1"))
	{
		window.location = "/mobile";
	}
		
		
		
}
</script>


$url = "http://www.ftadviser.com/wrappers/generic?navItem=/insurance/game-of-life";
$doc = file_get_contents($url);
echo $doc;