<style>

html,body
{
	margin:0;
	border:0;
	padding:0;
	height:100%;
	width:100%;
}

#mainFlashContent
{

}

.contentHolder
{
	width:980px;
	height:800px;
	display:block;
	clear:both;
	margin:auto;
	position:relative;
}

#siteContent
{
    display:none;
}

#mobileContent
{
	position:relative;
	width:100%;
	height:100%;
    /*visibility:hidden;
    display:none;*/
}

.over
{
	position:relative;
	background-color:#0154a2;
	width:100%;
	height:100%;
	opacity:0.9;
	display:table;
	filter:alpha(opacity=90);
}

.mobileInfoContent
{
	position:relative;
	margin:auto;
	max-width:514px;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
	
}

.no_info_circle_msg
{
	position:relative;
	max-width:514px;
	max-height:514px;
}

.mobile_link 
{
	margin:auto;
    color: #fff;
    font-family: georgia,helvetica,clean,sans-serif;
    font-size: 19px;
    font-weight: normal;
    line-height: 22px;
    text-align:center;
    width:100%;
    max-width:450px;
}

.mobile_link a:link {color:#FFFFFF; text-decoration:underline;}
.mobile_link a:visited {color:#FFFFFF;}
.mobile_link a:hover {text-decoration:none;}
.mobile_link a:active {color:#FFFFFF;}  


</style>

<script>
window.onresize = function()
{
	
	if(document.getElementById("mobileContent"))
	{
		document.getElementById("mobileContent")
		.style.height=document.body.clientHeight+"px";
	}
	
}


window.onload = function()
{
	
	document.getElementById("mobileContent")
	.style.height=document.body.clientHeight+"px";
	
}
</script>

<div id="mobileContent" style="background-image:url(<?php echo $this->basePath() . '/resources/images/mobile/background.jpg'; ?>);">


<div class="over" id="over">
<div class="mobileInfoContent">
<img class="no_info_circle_msg" width="100%" src="<?php echo $this->basePath() . '/resources/images/mobile/no_flash_circle.png'; ?>" border="0"/>
<div class="mobile_link">Please visit <a href="http://www.Zurich4Protection.co.uk">Zurich4Protection.co.uk</a><br />to find out more about Zurich Insurance Products.</div>
</div>
</div>
</div>