<script type="text/javascript">
var showSpinner = "<?php echo $this->id; ?>";
var app_location = "<?php echo ($_SERVER['SERVER_NAME']=="gol.localhost")?"local":"web"; ?>";
if(showSpinner==""){showSpinner=1;}

window.onload = function()
{	
	main_app = new app();
	main_app.embedd_flash(showSpinner, app_location);
	
}

</script>
<style>
.main_Container, .game_body, .game_holder
{
	position:relative;
}

.main_Container
{
	/*width:100%;
	height:100%;*/
}

.game_holder_container
{
	position:relative;
	width:980px;
}

.game_body
{
	max-height:750px;
	margin:auto;
}

.game_holder
{
	width:980px;
	height:750px;
}

.story h2
{
    color: #888888;
    font-family: georgia,helvetica,clean,sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height:22px;
    margin: 10px auto 10px auto;
	position:relative;
	display:block;
	text-align:center;
}

.story h2 a:hover
{
	text-decoration:none;
}

.story h2 a
{
	color: #888888;
}
</style>
<div class="game_holder_container">
<div id="game_holder" class="game_holder"></div>
<div class="story"><h2>For more information on Zurich Protection products as featured within The Game of Life, visit <a href="http://www.zurich4protection.co.uk" target="_blank">www.zurich4protection.co.uk</a></h2></div>
</div>