<script>
window.onload = function()
{
	if(document.getElementById("mobileContent"))
	{
		//document.getElementById("mobileContent")
		//.style.height=screen.height+"px";

		document.getElementById("mobileContent")
		.style.height=document.body.clientHeight+"px";
	}
	
	if (swfobject.hasFlashPlayerVersion("10"))
		{
		  	//document.getElementById("mainFlashContent").innerHTML="haha";
		}
		else 
		{
			//document.getElementById("mainFlashContent").innerHTML="replace";
		}
}


window.onresize = function()
{
	

	if(document.getElementById("mobileContent"))
	{
		document.getElementById("mobileContent")
		.style.height=document.body.clientHeight+"px";
	}
}
</script>

<style>
#mobileContent
{
	position:relative;
	width:100%;
	/*max-width:980px;
	height:100%;*/
}

.over
{
	position:relative;
	background-color:#0154a2;
	width:100%;
	height:100%;
	opacity:0.9;
	display:table;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}

.mobileInfoContent
{
	position:relative;
	margin:auto;
	max-width:514px;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
	
}

.no_info_circle_msg
{
	position:relative;
	max-width:514px;
}

.mobile_link 
{
	margin:auto;
    color: #fff;
    font-family: georgia,helvetica,clean,sans-serif;
    font-size: 19px;
    font-weight: normal;
    line-height: 22px;
    text-align:center;
    width:100%;
    max-width:450px;
}

.mobile_link a
{
    color: #fff;
}

.mobile_link a:hover
{
    text-decoration:none;
}
</style>

<div id="mainFlashContent">
<div id="mobileContent" style="background-image:url(<?php echo $this->basePath() . '/resources/images/mobile/background.jpg'; ?>);">
<!--
<div class="mobileBackground">
<img width="100%" src="<?php echo $this->basePath() . '/resources/images/mobile/background.jpg'; ?>" border="0"/>
</div>
-->
<div class="over" id="over">
<div class="mobileInfoContent">
<img class="no_info_circle_msg" width="100%" src="<?php echo $this->basePath() . '/resources/images/mobile/no_flash_circle.png'; ?>" border="0"/>
<div class="mobile_link">Please vivit <a href="Zurich4Protection.co.uk">Zurich4Protection.co.uk</a><br />to find out more about Zurich Insurance Products.</div>
</div>
</div>
</div>
buju here. One love</div>